<html>
<head>
	<title>{{title}}</title>
	{{#if cssPage}}
		<link rel="stylesheet" type="text/css" href="/css/{{cssPage}}">
	{{/if}}
	<script type="text/javascript" src="/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/globalCss.css">
</head>
<body>
	<header>
		<nav>
			<h1 class="navHeading">Quiz</h1>
		</nav>
	</header>
	<main>
		{{{body}}}
	</main>
	<footer>



	</footer>
</body>
</html>