<div class="subHead">ADD Questions</div>

<form method="POST">
    <input type="text" placeholder="Question" class="question" name="question" required>
    <div>1:><input type="text" placeholder="Option1" class="option" id="op1" name="op1" required>
    2:><input type="text" placeholder="Option2" class="option" id="op2" name="op2" required></div>
    <div>3:><input type="text" placeholder="Option3" class="option" id="op3" name="op3" required>
    4:><input type="text" placeholder="Option4" class="option" id="op4" name="op4" required></div>
    
    <select class="correct" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>    
</form>
<button class="save">Save</button>

<div class="flash"></div>
<script src="/javaScript/addques.js"></script>