
<h1 class="caption">Welcome to quiz</h1>
<form action="../quiz">
<input class="nameField" type="text" name="name" placeholder="Enter your name" required><br>
<input class='submit' type='submit' value="Get Started">
</form>
<script type="text/javascript" src="/javaScript/home.js"></script>
