.banner {
	height: 35vh;
	min-height: 200px;
	width: 60vw;
	text-align: center;
	margin: 0px auto;
	background-color: #fff2e8;
	opacity: 0.8;
	border-radius: 10px;
	padding-top: 5vh;
	
}

main {
	width: 100vw;
	height: 70vh;
	background-color: rgb(255, 255, 255);
	text-align: center;
	padding-top: 10vh;
	color: rgb(224, 0, 0);
	cursor: default;

}

.caption {
	font-size: 5.5em;
	font-family: 'Inconsolata', monospace;
}

body {
	background-color: rgb(165, 67, 67);
}
.nameField {
	margin-top: 10px;
	border-radius: 1px;
	height: 30px;
	width: 400px;
	border-width: 0px;
	font-weight: bold;
	background-color: rgb(231, 231, 231);
	padding: 2px 10px;
    font-family: 'Roboto Mono', monospace;
}

input:hover {
	border-radius: 2px;
} 



.submit {
	margin-top: 20px;
	display: inline-block;
	width: 200px;
	height: 40px;
	background-color: rgb(250, 221, 214);
	text-decoration: none;
	font-weight: bold;
	border-width: 0px;
}

.submit:hover {
	opacity: 0.9;
	background-color: rgb(255, 59, 59);
	color: #FFFFFF;
}